<div class="col-lg-5 list-group">
    <a class="list-group-item active"><i class="bi bi-book"></i> Books:</a>
    <a class="list-group-item list-group-item-action" *ngFor="let book of (books | async)" [class.active]="book === selectedBook" (click)="selectBook(book)">
        <b>{{book.name}}</b> (<i>{{prettyDate(book.released)}}</i>)
    </a>
    <div class="list-group-item list-group-item-action" *ngIf="loading">Loading...</div>
</div>

<div class="col-lg-7 list-group" *ngIf="selectedBook">
    <div class="list-group-item">
        <h1><i class="bi bi-book"></i> {{selectedBook.name}}</h1>

            <div class="list-group">
                <a class="list-group-item active"><i class="bi bi-pen"></i> Authors:</a>
                <a class="list-group-item list-group-item-action" *ngFor="let author of (selectedBook.authors)">{{author}}</a>
            </div>

            <ul class="list-group">
                <li class="list-group-item active"><i class="bi bi-info-circle"></i> Info:</li>
                <li class="list-group-item"><b>ISBN: </b> {{selectedBook.isbn}}</li>
                <li class="list-group-item"><b>Number Of Pages:</b> {{selectedBook.numberOfPages}}</li>
                <li class="list-group-item"><b>Publisher:</b> {{selectedBook.publisher}}</li>
                <li class="list-group-item"><b>Country:</b> {{selectedBook.country}}</li>
                <li class="list-group-item"><b>Media Type:</b> {{selectedBook.mediaType}}</li>
                <li class="list-group-item"><b>Released:</b> {{prettyDate(selectedBook.released)}}</li>
            </ul>

            <div class="list-group">
                <a class="list-group-item active"><i class="bi bi-person"></i> Characters:</a>
                <a class="list-group-item list-group-item-action" *ngFor="let character of characters" routerLink="/character/{{getID(character.url)}}">{{getCharacterName(character)}}</a>
            </div>

            <div class="list-group" *ngIf="selectedBook.povCharacters.length>0">
                <a class="list-group-item active"><i class="bi bi-file-person"></i> Pov Characters:</a>
                <a *ngFor="let character of povCharacters" class="list-group-item list-group-item-action" routerLink="/character/{{getID(character.url)}}">{{getCharacterName(character)}}</a>
            </div>
    </div>
</div>