<div class="col-lg-5 panel panel-info">
    <div class="panel-body">
        <div class="cards-list">
            <a *ngFor="let book of (books | async)" [class.active]="book === selectedBook" (click)="selectBook(book)">
                <h6 class="text-info">{{book.name}} (<i>{{prettyDate(book.released)}}</i>)</h6>
            </a>
            <div *ngIf="loading">Loading...</div>
        </div>

    </div>
</div>
<div class="col-lg-7 panel panel-warning current-card">
    <div class="panel-body" *ngIf="selectedBook">
        <h4 class="text-success">{{selectedBook.name}}</h4>
            <p><b>ISBN: </b> {{selectedBook.isbn}}</p>
            Authors:
            <ul>
                <li *ngFor="let author of (selectedBook.authors)">{{author}}</li>
            </ul>
            <p><b>Number Of Pages:</b> {{selectedBook.numberOfPages}}</p>
            <p><b>Publisher:</b> {{selectedBook.publisher}}</p>
            <p><b>Country:</b> {{selectedBook.country}}</p>
            <p><b>Media Type:</b> {{selectedBook.mediaType}}</p>
            <p><b>Released:</b> {{prettyDate(selectedBook.released)}}</p>
            <h4>Characters:</h4>
            <ul>
                <li *ngFor="let character of characters"><a routerLink="/characters/{{getCharacterID(character.url)}}">{{getCharacterName(character)}}</a></li>
            </ul>
            Pov Characters:
            <ul>
                <li *ngFor="let character of povCharacters"><a routerLink="/characters/{{getCharacterID(character.url)}}">{{getCharacterName(character)}}</a></li>
            </ul>
    </div>
</div>