<div class="col-lg-4 panel panel-info company-list">
    <!-- Here comes the list of companies. -->
    <a><h6>Survey Corps</h6></a>
    <a><h6>Dog Co.</h6></a>
    <a class="active"><h6>Jones&amp;Jones</h6></a>
</div>
<div class="col-lg-8 panel panel-warning" >
    <!-- Here comes the selected or newly created company's editor / detail. -->
    <h4 class="panel-header">Jones&amp;Jones: (1 cards)</h4>
    <input class="form-control">
    <button class="btn btn-info">Save</button>
</div>
<div class="col-lg-8 panel panel-warning">
    <button class="btn btn-info">Create company</button>
</div>