<div class="col-lg-5" style="margin-bottom: 5px">

    <div class="list-group">
        <a class="list-group-item active"><i class="bi bi-house"></i> Houses:</a>
        <a class="list-group-item list-group-item-action" *ngFor="let house of (houses)" [class.active]="house == selectedHouse" (click)="modHouse(house)">
            {{house.name}}
        </a>
    </div>

    <div class="paging">
        <button class="col-xs-4 btn btn-primary"
                [disabled]="currentPage <= 1"
                (click)="currentPage=currentPage-1;getHouses(currentPage)">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </button>
        <div class="col-xs-4 page-numbers">
            {{currentPage}}/{{maxPages}}
        </div>
        <button class="col-xs-4 btn btn-primary"
                [disabled]="currentPage >= maxPages - 1"
                (click)="currentPage=currentPage+1;getHouses(currentPage)">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>

</div>

<div class="col-lg-7 list-group" *ngIf="selectedHouse">
    <div class="panel-body list-group-item">
        <h1>
            <i class="bi bi-house"></i> {{selectedHouse.name}}
        </h1>
        <ul class="list-group">
            <li class="list-group-item active"><i class="bi bi-info-circle"></i> Info:</li>
            <li class="list-group-item" *ngIf="selectedHouse.name.length>0">
                <b>Name: </b> {{selectedHouse.name}}
            </li>
            <li class="list-group-item" *ngIf="selectedHouse.region.length>0">
                <b>Region: </b> {{selectedHouse.region}}
            </li>
            <li class="list-group-item" *ngIf="selectedHouse.coatOfArms.length>0">
                <b>Coat Of Arms: </b> {{selectedHouse.coatOfArms}}
            </li>
            <li class="list-group-item" *ngIf="selectedHouse.words.length>0">
                <b>Words: </b> {{selectedHouse.words}}
            </li>
            <li class="list-group-item" *ngIf="selectedHouse.currentLord.length>0">
                <b>Current Lord: </b> <a *ngIf="currentLord" routerLink="/character/{{getID(currentLord.url)}}">{{getCharacterName(currentLord)}}</a>
            </li>
            <p class="list-group-item" *ngIf="selectedHouse.heir.length>0">
                <b>Heir: </b> <a *ngIf="heir" routerLink="/character/{{getID(heir.url)}}">{{getCharacterName(heir)}}</a>
            </p>

            <li class="list-group-item" *ngIf="selectedHouse.overlord.length>0">
                <b>Overlord: </b> <a *ngIf="overlord" routerLink="/houses/{{getID(overlord.url)}}">{{overlord.name}}</a>
            </li>

            <li class="list-group-item" *ngIf="selectedHouse.founded.length>0">
                <b>Founded: </b>  {{selectedHouse.founded}}
            </li>

            <li class="list-group-item" *ngIf="selectedHouse.founder.length>0">
                <b>Founder: </b>  <a *ngIf="founder" routerLink="/character/{{getID(founder.url)}}">{{getCharacterName(founder)}}</a>
            </li>

            <li class="list-group-item" *ngIf="selectedHouse.diedOut.length>0">
                <b>Died out: </b>  {{selectedHouse.diedOut}}
            </li>
        </ul>

        <ul class="list-group" *ngIf="selectedHouse.titles.length > 0 && selectedHouse.titles[0].length>0">
            <li class="list-group-item active"><i class="bi bi-eyeglasses"></i> Titles:</li>
            <li class="list-group-item list-group-item-action" *ngFor="let title of selectedHouse.titles">{{title}}</li>
        </ul>

        <ul class="list-group" *ngIf="selectedHouse.seats.length > 0 && selectedHouse.seats[0].length>0">
            <li class="list-group-item active">Seats:</li>
            <li class="list-group-item list-group-item-action" *ngFor="let seat of selectedHouse.seats">{{seat}}</li>
        </ul>

        <ul class="list-group" *ngIf="selectedHouse.ancestralWeapons.length > 0 && selectedHouse.ancestralWeapons[0].length>0">
            <li class="list-group-item active"><i class="bi bi-person"></i> Ancestral Weapons:</li>
            <li class="list-group-item" *ngFor="let ancestralWeapon of selectedHouse.ancestralWeapons">{{ancestralWeapon}}</li>
        </ul>

        <div class="list-group" *ngIf="selectedHouse.cadetBranches.length > 0 && selectedHouse.cadetBranches[0].length>0">
            <a class="list-group-item active"><i class="bi bi-house-door"></i> Cadet Branches:</a>
            <a class="list-group-item list-group-item-action" *ngFor="let cadetBranch of cadetBranches" routerLink="/houses/{{getID(cadetBranch.url)}}">{{cadetBranch.name}}</a>
        </div>

        <div class="list-group" *ngIf="selectedHouse.swornMembers.length > 0 && selectedHouse.swornMembers[0].length>0">
            <a class="list-group-item active"><i class="bi bi-person"></i> Sworn Members:</a>
            <a class="list-group-item list-group-item-action" *ngFor="let swornMember of swornMembers" routerLink="/character/{{getID(swornMember.url)}}">{{getCharacterName(swornMember)}}</a>
        </div>
    </div>
</div>