<div class="col-lg-5 panel panel-info">
    <div class="panel-body">
        <input class="form-control" placeholder="Filter cards..." >
        <!-- Here comes the list of cards. -->
        <div class="cards-list">
            <a><h6 class="text-info">Levi Ackermann (<i>Survey Corps</i>)</h6></a>
            <a><h6 class="text-info">Rhonda Dumas (<i>Dog Co.</i>)</h6></a>
            <a class="active"><h6 class="text-info">Davey Jones (<i>Jones&amp;Jones</i>)</h6></a>
        </div>
        <div class="paging">
            <button class="col-xs-4 btn btn-info" disabled="disabled"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <div class="col-xs-4 page-numbers">1/1</div>
            <button class="col-xs-4 btn btn-info" disabled="disabled"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
</div>
<div class="col-lg-7 panel panel-warning current-card">
    <!-- Here comes the selected or newly created card's editor / detail. -->
    <div class="panel-body">
        <img class="profile-picture pull-right" src="https://s3.eu-central-1.amazonaws.com/artistarea.gallereplay.com/production/user_9/picture_2405201614728.jpg">
        <h4 class="text-warning">Davey Jones
            <i class="glyphicon glyphicon-pencil"></i>
        </h4>
        <h6 class="text-warning"><b>Business Analyst</b> at <b><a>Jones&amp;Jones</a></b></h6>
        <p class="text-info">Analyzing business for the future</p>
        
        <!--<button class="btn btn-default">Save</button>
        <button class="btn btn-warning">Cancel</button>
        <button class="btn btn-danger pull-right">Delete</button>-->
    </div>
    <!--<div class="panel-body">
        <button class="btn btn-info">Create card</button>
    </div>-->
</div>